/*
  FONTS
*/
@import "http://webfonts.ru/import/ptsans.css";

html{
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

body.view{
  overflow: hidden;
  width: 1280px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  margin: -400px 0 0 -640px;
  padding: 0;
  font-size: 14px;
}

#container{
  position: relative;
  width: 100%;
  height: 100%;
}


#container .slide{
  display: none;
  width: 1280px;
  height: 800px;
  margin: 0;
  padding: 50px 90px 92px ;
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#container .slide.active{
  display: block;
}

#container #numpage{
  position: absolute;
  bottom: 8%;
  left: 10.9375%;
  font: 2em "PTSansNarrow", Arial;
  color: #DADAB6;
}

#container #progress{
  position: absolute;
  bottom: 2%;
  left: 10.9375%;
  width: 78.125%;
  height: 40px;
  border-radius: 5px;
}

#container #progress #bar{
  width: 0;
  height: 15px;
  background: #149BDF;
  border-radius: 5px;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
  transition: width 0.3s;
}

.list{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(../img/bg.png) repeat;
}

.list #container{
  padding-bottom: 100px;
}

.list #container:after{
  content: "";
  display: block;
  clear: both;
}

.list #container .slide{
  position: relative;
  float: left;
  display: inline-block;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  margin: -150px -520px -325px -260px;
  box-shadow: 28px 35px 40px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.list #container .slide.active, .list #container .slide:hover{
  border-radius: 10px;
  box-shadow: 0 0 0 20px rgba(20,155,223,0.5);
}

.list #container #progress, .list #container #numpage{
  display: none;
}


/* Scrollbar for Webkit-based browsers */

::-webkit-scrollbar {
  width: 12px;
  background: #e5e5e5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: #ababab;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*

Inner Styles

*/

#container .slide header{
  margin: 0;
  padding: 0;
  font: 4em "PTSansRegular", Arial;
}

#container .slide header.center{
  text-align: center;
}

  #container .slide article img.full-width{
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  #container .slide article .left{
    float: left;
    display: inline-block;
  }

  #container .slide article .right{
    float: right;
    position: relative;
    top: 40px
  }

#container .slide span.name{
  font: bold 1.5em "PTSansBoldItalic", Arial;
}


#container .slide article ol.nice-list{
  margin: 20px 0 0 0;
  padding: 0;
}

#container .slide article ol.nice-list li{
  font: 2.5em "PTSansNarrow", Arial;
  line-height: 2.5em;
  margin-left: 60px;
}

#container .slide article div.video{
  margin: 0 auto;
}

#container .slide table{
  margin: 40px 0 0;
  width: 70%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  font: 1.5em "PTSansRegular", Arial;
}

#container .slide table thead tr td{
  border: 1px solid #c0c0c0;
  background: #e5e5e5;
}

#container .slide table tbody tr td{
  border: 1px solid #BFBFB4;
  background: #DBDBCC;
}

#container .slide table tbody tr:hover td{
  background: #BCE6E3;
}

#container .slide blockquote{
  box-sizing: border-box;
  padding: 20px;
  width: 90%;
  height: 90%;
  background: #c0c0c0;
  box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  font: 1.8em "PTSansItalic", Arial;
  line-height: 2.5em;
  margin-top: 50px;
}


@media screen and (max-width: 1200px) {

  .list #container .slide{
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    margin: -218px -604px -380px -380px;
  }
}

