html, body{
  width: 100%;
  height: 100%;
  font-size: 100%;
}

#container{
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  margin: 0;
  padding: 0;
}

/* Active Slide */

#container #active{
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 70%;
  height: 100%;
  background: #fff;
}

#container .content{
  text-align: center;
  font-family: "Arial", serif;
}

#container h2{
  margin: 0;
  padding: 0;
  text-align: center;
  font: 3em 'Cuprum', Arial;
}

#container .content ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#container .content img{
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

#container .content table{
  margin: 0 auto;
  width: 50%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  font-size: 1em;
}

#container .content table thead tr td{
  border: 1px solid #c0c0c0;
  background: #e5e5e5;
}

#container .content table tbody tr td{
  border: 1px solid #BFBFB4;
  background: #DBDBCC;
}

#container #active .content table tbody tr:hover td{
  background: #BCE6E3;
}


/* Slides Slider */

#container #slides{
  position: absolute;
  z-index: 9999;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  width: 15%;
  height: 100%;
  background: #000;
}

/* Scrollbar for Webkit-based browsers */

#container #slides::-webkit-scrollbar {
  width: 8px;
  background: #e5e5e5;
}

#container #slides::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#container #slides::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#container #slides::-webkit-scrollbar-thumb:hover {
  background: #ababab;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Scrollbar end */

#container #slides .slide{
  display: inline-block;
  float: left;
  overflow: hidden;
  margin: 5%;
  width: 90%;
  height: 15%;
  background: #fff;
  cursor: pointer;
}

#container #slides .slide:hover, #container #slides .slide.view{
  box-shadow: 0 0 2px 3px rgba(255,255,255,0.6);
}

#container #slides .slide h2{
  font-size: 0.5em;
}

#container #slides .slide .content{
  font-size: 0.2em;
}

/* ProgressBar */

#container .controls{
  position: relative;
  margin: -3% auto 0;
  width: 70%;
  height: 5%;

}

#container .controls .progress{
  width: 40%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#container .progress #bar{
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  border-radius: 3px;
  background: #e5e5e5;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

#container .progress #bar #percent{
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: #149BDF;
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
}

#container .controls #numslide{
  font: 3em "Arial", serif;
  color: #d6d6d6;
  position: absolute;
  bottom: 0;
  right: 2%;
}
