html, body{
  font-size: 100%;
  height: 100%;
  width: 100%;
}

#container{
  width: 100%;
  height: 100%;
  position: relative;
}

/* Active Slide */

#container #active{
  width: 100%;
  height: 80%;
  position: relative;
}

#container .content{
  text-align: center;
  font-family: "Arial", serif;
}

#container h2{
  font: 3em 'Cuprum', Arial;
  text-align: center;
  margin: 0;
  padding: 0;
}

#container .content ul{
  list-style: none;
}

#container .content img{
  display: block;
  max-width: 50%;
  margin: 0 auto;
}

#container .content table{
  margin: 0 auto;
  font-size: 1em;
  border-spacing: 0;
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}

#container .content table thead tr td{
  background: #e5e5e5;
  border: 1px solid #c0c0c0;
}

#container .content table tbody tr td{
  background: #DBDBCC;
  border: 1px solid #BFBFB4;
}

#container #active .content table tbody tr:hover td{
  background: #BCE6E3;
}


/* Slides Slider */

#container #slides{
  height: 20%;
  background: #d5d5d5;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

#container #slides .slides-slider{
  width: 100%;
  height: 85%;
}

#container #slides .slides-slider .slide{
  display: inline-block;
  float: left;
  width: 15%;
  height: 100%;
  background: #fff;
  margin: 0.5em 0 0 0.5em;
  cursor: pointer;
}

#container #slides .slides-slider .slide:hover, #container #slides .slides-slider .slide.view{
  box-shadow: 0 0 2px 3px rgba(0,0,0,0.1);
}

#container #slides .slides-slider .slide h2{
  font-size: 0.5em;
}

#container #slides .slides-slider .slide .content{
  font-size: 0.2em;
}